<div id="container">
  <div gx-chips class="slides-wrapper" [items]="availableColors" [width]="350" [$prev]="prev" [$next]="next"
    [$item]="item">
  </div>
  <ng-template #prev>
      <!-- <mat-icon [ngStyle]="{'color': 'white'}">chevron_left</mat-icon> -->
      <mat-icon>chevron_left</mat-icon>
  </ng-template>
  <ng-template #next>
      <!-- <mat-icon [ngStyle]="{'color': 'white'}">chevron_right</mat-icon> -->
      <mat-icon>chevron_right</mat-icon>
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="slide-items">
      <mat-chip-list>
        <mat-chip [selectable]="selectable" [removable]="removable" (removed)="remove(item)">{{ item.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

  </ng-template>
</div>